/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

body {
font-family: sans-serif;
font-size: 15px;
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.header-bottom {
  position: relative;
  z-index: 101;
  background: #fff;

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .col-lg-cus {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.sidebar-content {
  position: relative;
  min-width: 230px;
}

.title-menu {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 -4px 6px 2px rgba(60, 64, 67, 0.15);
}

.title-menu span {
  padding-left: 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-clicked {
  cursor: pointer;
  position: relative;
  z-index: 101;
}

.menu-clicked a {
  color: #333333;
}

.sidebar-content:hover .sidebar-menu {
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 100%;
}

.sidebar-menu:not(.sidebar-menu--index) {
  display: none;
}

.sidebar-menu--colum {
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
  top: calc(100% - 1px);
  left: 0;
  z-index: 9;
}

.main-menu {
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  height: calc(100% - 15px);
}

.main-menu .link-list {
  border-radius: 5px;
  border-top: 1px solid #fafafa;
  overflow: auto;
  /* max-height: calc(100vh - var(--header-height) - 30px); */
  min-height: 300px;
  background: #fff;
  height: auto;
  padding-left: 0;
}

.main-menu .item.submenu:hover {
  border-right-color: #fff;
}

.main-menu .item:hover {
  border-left-color: #f9bb01;
  background: #f3f5fc;
}

.main-menu .item.submenu {
  border-right: 3px solid transparent;
}

.main-menu .item {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
}

.main-menu .item a {
  width: 100%;
  padding-right: 5px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  color: #333333;;
}

.main-menu .item a:hover {
  color: #3b71ca;
}

.sidebar-menu--colum .main-menu .link-list > li:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}

.main-menu .link-list > li > .dropdown_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0px;
  left: calc(100% - 4px);
  width: calc((100% + 30px) * 4 + 4px);
  height: 100%;
  min-height: 100%;
  text-align: left;
  border-left: 4px solid transparent;
  margin-top: 0;
  padding: 0;
  z-index: 101;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.main-menu .link-list > li > .dropdown_menu:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

.main-menu .link-list > li > .dropdown_menu h3 {
  margin: 10px 0;
}

a:hover, a:focus {
  color: var(--shop-color-hover);
  text-decoration: none;
  outline: none;
}

.box-policy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 500;
}

.box-policy ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex: 0 0 auto;
  padding-right: 20px;
}

.box-policy ul img {
  height: 20px;
  padding-right: 5px;
}

.box-text {
  font-size: 16px;
}

.header-text-top {
  background: #3d52bf;
  color: #fff;
  padding: 6px 0;
  font-weight: 300;
}

.header-main-container {
  background: #546ce8;
  padding-top: 5px;
}

.container {
  padding: 0 10px;
  max-width: 1260px;
  min-width: 1260px;
}

.header-main-container .logo {
  display: block;
  width: 190px;
  margin-right: 20px;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
}

.header-main-container .logo img {
  max-height: 70px;
}

.header-main-container .logo-img-fixed {
  display: none;
}

.header-search {
  width: 505px;
  margin-right: 20px;
  position: relative;
}

.header-search .search-form {
  border-radius: 4px;
  overflow: hidden;
}

.autocomplete-suggestions {
  position: absolute;
  width: 100%;
  border: solid 1px #ddd;
  right: 0;
  margin-top: 2px;
  max-height: 300px;
  overflow: auto;
  display: none;
  background: #fff;
  z-index: 999;
}

.header-search select {
  border: 0;
  width: 140px;
  height: 38px;
  padding-left: 3px;
  float: left;
}

.header-search .searh-form-container {
  float: left;
  width: calc(100% - 140px);
  height: 38px;
}

.header-search .text_search {
  border: 0;
  padding: 0 5px 0 10px;
  width: calc(100% - 96px);
  height: 100%;
}

.header-search .submit-search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  width: 100px;
  border-radius: 0 4px 4px 0;
  font-weight: 300;
}

.header-menu {
    width: 100%;
    position: relative;
}

.header-menu-container {
  width: 190px;
  margin-right: 20px;
  padding: 8px 0;
}

.fa-bars:before {
  content: "\f0c9";
}

.header-menu-container .header-menu-holder {
  background: #fff;
  position: absolute;
  z-index: 10;
  top: 100%;
  width: 200px;
  height: 530px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.header-menu-container .item {
  height: calc(100% / 16);
}

.header-menu-container .pro-cate-1 {
  padding: 0 6.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  transition: unset;
}

.header-menu-container a {
  display: block;
}

.header-menu-container .pro-cate-1 img {
  max-height: 20px;
  margin-right: 7px;
}

img {
  max-width: 100%;
  height: auto;
}

.header-menu-container .pro-cate-1 .title {
  width: calc(100% - 35px);
  font-size: 11px;
}

.header-menu .menu-text-right {
  width: calc(100% - 210px);
}

.text-13 {
  font-size: 13px;
}

.header-menu .menu-text-right a {
  color: #fff;
  position: relative;
}

.header-menu .header-history::before {
  content: '\f00c';
  font-family: Fontawesome;
  margin-right: 3px;
}

.header-menu .icon-flash::before {
  background-position: -5px -46px;
}

.header-menu .bg-icon::before {
  content: '';
  background: url(../images/sprite-2020.png?v=1) no-repeat;
  padding: 6px 13px;
  margin-right: 10px;
}

.global-support-container {
  top: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  display: none;
  background: #546ce8;
  color: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
  flex-wrap: wrap;
  width: 1240px;
}

.global-support-container .col-item:first-child {
  width: 190px;
}

.global-support-container .col-item {
  border-right: 1px dashed #fff;
  width: calc(787px / 2);
}

.global-support-container .title {
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px dashed #fff;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.global-support-container .col-item:first-child .support-list {
  height: auto;
  padding: 10px;
}

.global-support-container .support-list {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.global-support-container .support-list a {
  display: block;
  padding: 5px 0 5px 20px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  font-size: 12.5px;
}

.header-search .fa-search {
  font-size: 16px;
  color: #777;
}

.header-icon-right {
  width: calc(100% - 735px);
  padding: 0 10px 0 3px;
}

.header-icon-right .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-icon-right a {
  color: #fff;
}

.header-icon-right .icon-phone {
  background-position: -98px -5px;
  margin-top: 2px;
}

.header-icon-right .icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  float: left;
}

.header-icon-right .icon-text {
  float: left;
}

.header-icon-right .header-item-showroom {
  display: none;
}

.header-icon-right a {
  color: #fff;
}

.header-item-showroom .icon-showroom {
  background-position: -424px -216px;
  margin-right: 4px;
}

.header-icon-right .icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  float: left;
}
