  <div class="navbar-expand-lg navbar-dark header-bottom">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse col-lg-cus" id="navbarLeftAlignExample">
          <div class="sidebar-content">
            <div class="title-menu menu-clicked">
              <a href="#"><i class="fas fa-bars"></i><span>Danh mục sản phẩm</span></a>
            </div>
            <div class="sidebar-menu sidebar-menu--colum">
              <div class="main-menu mainMenujs setHeight">
                <ul class="link-list list-root">
                  <% Category.all.each do |category| %>
                    <li class="item submenu">
                      <a href="#"><%= category.name %></a>
                      <div class="dropdown_menu">
                        <div class="d-flex flex-wrap">
                          <% category.sub_categories.each do |sub| %>
                            <div class="col-lg-3">
                              <h3><a href="/collections/chuot-razer" title=""><%= sub.name %></a></h3>
                                <ul class="has_submenu">
                              </ul>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg d-lg-flex d-none justify-content-between align-items-center box-content">
          <div class="box-policy">
            <ul>
              <li class="box-item">
                <div class="box-icon">
                  <img src="//theme.hstatic.net/200000637319/1000990988/14/header_03_policy_1_ico.png?v=323" alt="Đảm bảo chất lượng">
                </div>
                <div class="box-text">Đảm bảo chất lượng</div>
              </li>
              <li class="box-item">
                <div class="box-icon">
                  <img src="//theme.hstatic.net/200000637319/1000990988/14/header_03_policy_2_ico.png?v=323" alt="Hỗ trợ trả góp">
                </div>
                <div class="box-text">Hỗ trợ trả góp</div>
              </li>
              <li class="box-item">
                <div class="box-icon">
                  <img src="//theme.hstatic.net/200000637319/1000990988/14/header_03_policy_3_ico.png?v=323" alt="Miễn phí vận chuyển nội thành HN">
                </div>
                <div class="box-text">Miễn phí vận chuyển nội thành HN</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
